body{
    background-image: url(../images/prism.png);
    

    

}
h1, h2{
    font-family: 'Georgia', Times, "Times New Roman", serif;
}
p, #field {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h2{
    color:#0079c1;
}


.HeaderBar{
    width:100%;
    background: #ffffff;
    height:75px;
    top:0;
}

.Header{
    
    width: 960px;
    background-color: #ffffff;
    text-align:right;
    height:75px;
    vertical-align:middle;
    line-height: 75px;
    margin: 0 auto;
    border: 2px;
    border-color:#cccccc;
    


    
}

.Footer{
    position:fixed;
    bottom:5px;
    text-align: center;
    width: 100%;
    Height: 30x;
    padding: 10px 10px 5px 10px;
    vertical-align:center;
    font-size: 10x;
    line-height: 10px;
    background-color: #666666;

}

#Copy{
    color: #ffffff;
    font-size: 10x;
}

#bar{
    
    position:absolute;
    background-color: #0079c1;
    height:10px;
    width:100%;
    top:0;
}

#HeaderBox{
    position: absolute;
    background-color: #0079c1;
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    float: left;
    color: white;
    width:200px;
    height:45px;
    padding: 15px 15px 15px 15px;
}

.Calculation {
    
    width: 950px;
    padding: 20px;
    height:100%;
    border:20px;
    background: #ffffff;
    margin: 20px auto;
    border: 2px;
    border-color: #cccccc;
    
    overflow:auto;

}
.Total{
    
    width: 950px;
    padding: 20px;
    height:100%;
    border:20px;
    background: #ffffff;
    margin: 20px auto;
    border: 2px;
    border-color: #cccccc;
    
    overflow:auto;
}




input{
    width:200px;
}
#Button{
    width:auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


#Button{
    padding:10px;
    font-size: 20px;
    color:white;
    background-color:#0079c1;
}

#Button:hover{
    background-color: #234c4a;
}
  
#description {
    position: absolute;
    bottom: 20px;
    width: 280px;
    padding: 10px;
    text-align: center;
    background: #4aaaa5;
}

#salary{
    font-size:15px;
}




